/* CORE */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    background: #333;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}

.content-wrap {
    padding: 0 1.5em;
}

/* HEADER */

#showcase {
    min-height: 450px;
    color: #fff;
}

#showcase .bg-img {
    position: absolute;
    background: #333 url('https://images.pexels.com/photos/247791/pexels-photo-247791.png?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: .4;
}

/* SECTION A */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* SECTION B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

#section-b .card-content {
    padding: 1.5em;
}

/* SECTION C */

#section-c {
    background: #fff;
    color: #333;
    padding: 2em;
}

/* SECTION D */

#section-d .box{
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child{
    background: #2690d4;
}

/* FOOTER */

#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

/* BREAKPOINTS */

@media (min-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em
    }

    #section-a .content-text p{
        padding-top: 0;
    }

    #section-b ul{
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }
}